.dh_blog {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-shade;
    display: inline-block;
    padding: 2rem 0;

    &:hover .dh_news-line,
    &:focus .dh_news-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }
  
  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  &-content {
    margin-top: 1rem;
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 2rem;
  }

  &-icon {
    margin-left: 1.3rem;
    line-height: 2rem;
  }

  &-icon-text {
    margin-left: 0.8rem;
  }

  &-box {
    width: 100%;
    /* 因为 content 会另起一行，影响样式的话，height 设置为具体的值可以避免高度变高的情况 */
    height: 100%;
    /* 设置元素两端对齐 */
    text-align: justify;
  }
  &-box:after {
    content: "";
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }
  &-box span {
    width: 50px;
    height: 50px;
    /* 设置盒子为行内块 */
    display: inline-block;
    background-color: skyblue;
    /* 设置盒子内元素水平居中 */
    text-align: center;
    /* 设置盒子内容垂直居中 */
    line-height: 50px;
}
}
