---
layout: base 
---

<div class="home">
  <div class="profile">
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" />
    <div class="info">
      <div class="title">{{ site.author.name }}</div>
      <div class="description">{{ site.author.desc }}</div>
    </div>
  </div>
  <br/>
  <div class="content" style="text-align: center">
    {{ content }}
    </br>
    <h2>▾ 搜索本站</h2>  
    <div class="page-search">
      
      <input id="search-input" type="text" placeholder="请在此输入关键词"></input>
      <h1>
        <span>　　　▾ 搜索结果如下 ▾</span>
        <img src="{{site.baseurl}}/assets/img/loading.svg">
      </h1>
      <ul class="list-search">
        {%- for post in site.posts  %}
        <li hidden>
          <a href="{{site.baseurl}}{{ post.url }}">
            <p class="title">{{ post.title }}</p>
            <p class="content"></p>
          </a>
        </li>
        {%- endfor %}
      </ul>
    </div>
    {% include footer.html -%}
    {% include script.html -%}
  </br>


    <div class="social-layer">
      <div class="social-icons">
        <ul>
          {% include icons.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
